body {
	font-family: Arial, sans-serif;
	background-color: #61787e;
	margin: 0;
	padding: 0;
}
.section_title {
	font-weight: bold;
	font-size: 220%;
}

.header {
    text-align: center;
	padding: 1% 5%;
}

.logo {
    width: 100%;
    height: auto;
    display: block;
}


.best_movie_section {
	justify-content: center;
	padding: 1% 5%;
}
.best_movie_section_content {
	background-color: #616b7e;
	border: black solid 3px;
	display: flex;
	justify-content: center;
}
.best_movie_left {
	flex: 0 0 auto;
	padding: 1%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.best_movie_right {
	flex: 3;
	display: flex;
	flex-direction: column;
}
.best_movie_title {
	flex: 1;
}
.best_movie_descr {
	flex: 3;
}
.best_movie_details_button {
	font-weight: bold;
	background-color: red;
	color: white;
	border-radius: 10%;
	font-size: 120%;
	outline: none;
	border: none;
	padding: 10% 5%;
	transition: background-color 0.1s;
}
.best_movie_details_button:hover {
	background-color: darkred;
}
@media only screen and (min-width: 601px) {
	.best_movie_poster {
		max-width: 100%;
		height: auto;
	}
	.best_movie_button_section {
		margin-left: auto;
		padding-right: 10%;
		padding-bottom: 2%;
		flex: 1;
	}
}
@media only screen and (max-width: 600px) {
	.best_movie_title {
	padding: 0 2%;
	}
	.best_movie_descr {
	padding: 0 2%;
	}
	.section_title {
		display: flex;
		justify-content: center;
	}
	.best_movie_section_content {
		flex-direction: column;
	}
	.best_movie_poster {
		width: 100%;
    	height: 250px;
    	object-fit: cover;
	}
	.best_movie_button_section {
		margin-left: auto;
		padding-right: 45%;
		padding-top: 2%;
		padding-bottom: 2%;
		flex: 1;
	}
}




.category_section {
	justify-content: center;
	padding: 2% 5%;
}
.category_section_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.movie_block {
    width: calc(33.33% - 1%);
    margin-right: 1%;
    margin-bottom: 1%;
    overflow: hidden;
    position: relative;
	background-size: cover;

}
.movie_block::before {
    content: "";
    display: block;
    padding-top: 30%;
}
.movie_block::after {
    content: "";
    display: block;
    padding-top: 30%;
}

.movie_name_details {
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	flex-direction: column;
	position: relative;
}

.movie_block_button_section {
	text-align: right;
	padding-right: 10%;
	padding-bottom: 3%;
}

.movie_block_name {
	color: white;
    font-weight: bold;
	font-size: 120%;
	padding: 2% 2%;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.details_button {
	background-color: #7a7a7a;
	color: white;
	border-radius: 10%;
	padding: 2% 5%;
	outline: none;
	border: none;
	transition: background-color 0.1s;
}
.details_button:hover {
	background-color: #3c3c3c;
}



.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



